<div class="mat-elevation-z8">
  <mat-form-field floatPlaceholder="never" class="search">
    <input matInput #filter placeholder="Search books">
  </mat-form-field>

  <mat-table #table
             [dataSource]="books"
             matSort>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let book;">{{book.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
      <mat-cell *matCellDef="let book;">{{book.category_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
      <mat-cell *matCellDef="let book;">{{book.first_name}} {{book.last_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Year</mat-header-cell>
      <mat-cell *matCellDef="let book;">{{book.year}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rate</mat-header-cell>
      <mat-cell *matCellDef="let book;">{{book.rate}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let book; columns: tableColumns;"></mat-row>
  </mat-table>
</div>