@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Helvetica, "Helvetica Neue", sans-serif
}

.scrollable {
  height: calc(100vh - 114px);
  overflow-y: scroll;
  padding: 25px;
}

mat-form-field {
  width: 100%;
}

.notification-error {
  background-color: rgba(255, 0, 0, 0.50);
}

.notification-success {
  background-color: rgba(0, 128, 0, 0.50);
}

.notification-info {
  opacity: .5;
}