@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Helvetica, "Helvetica Neue", sans-serif
}

.scrollable {
  height: calc(100vh - 64px);
  overflow-y: scroll;
}

mat-form-field {
  width: 100%;
}