<div *ngIf="book" class="scrollable">
    <section *ngIf="!editing">
        <h1>{{book.title}}</h1>
        <p class="rate">
            <mat-icon *ngFor="let star of getStars(book.rate)"
                      class="star">
                {{star}}
            </mat-icon>
        </p>
        <p>
            <span>{{book.category_name}}, </span>
            <span>{{book.year}}</span>
        </p>
        <p>
            <b>Author<span>s</span>:</b>
            <span>{{book.first_name}} {{book.last_name}}</span>
        </p>
        <p>
            <b>Plot:</b>
            {{book.plot}}
        </p>

        <span *ngIf="!writingReview">
            <button (click)="writingReview = true"
                    mat-button
                    mat-raised-button
                    color="accent">
                <mat-icon>mode_edit</mat-icon>
                Write a Review
            </button>

            <span *ngIf="book.author_id === user.id">
                <button (click)="edit()"
                        mat-button
                        mat-raised-button
                        color="primary">
                    <mat-icon>mode_edit</mat-icon>
                    Edit
                </button>

                <button (click)="delete()"
                        mat-button
                        mat-raised-button
                        color="stress">
                    <mat-icon>delete_forever</mat-icon>
                    Delete
                </button>
            </span>
        </span>
    </section>

    <section *ngIf="editing">
        <app-book-form [mode]="'edit'"
                       [book]="bookEditCopy"
                       (updated)="onUpdate($event)"
                       (cancelled)="onCancel()">
        </app-book-form>
    </section>

    <section *ngIf="writingReview" class="new-review">
        <app-review-form [mode]="'new'"
                         [bookID]="book.id"
                         (added)="onReviewAdd()"
                         (cancelled)="writingReview = false">
        </app-review-form>
    </section>

    <section class="reviews">
        <h2>{{book.title}} Reviews:</h2>
        <app-review-list [mode]="'book'"
                         [id]="book?.id">
        </app-review-list>
    </section>
</div>