h1 {
  font-size: 1.5em;
  margin: 2em 0 1em;
}

.signup-container {
  display: flex;
  justify-content: center;
}

.signup-form {
  max-width: 410px;
}

.signup-btn {
  text-align: center;
  margin: 2em 0;
}