<div class="signup-container scrollable">
  <form class="signup-form"
        (ngSubmit)="signup()"
        #signupForm="ngForm">
    <h1>Sign up with Book Reviews and start exploring books today!</h1>

    <mat-form-field>
      <input matInput
             [(ngModel)]="user.first_name"
             placeholder="First Name"
             name="firstName"
             type="text"
             required>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [(ngModel)]="user.last_name"
             placeholder="Last Name"
             name="lastName"
             type="text"
             required>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [(ngModel)]="user.email"
             placeholder="Email"
             name="email"
             type="email"
             required>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [(ngModel)]="user.password"
             placeholder="Password"
             name="password"
             type="password"
             required>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [(ngModel)]="user.city"
             placeholder="City"
             name="city"
             type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [(ngModel)]="user.country"
             placeholder="Country"
             name="country"
             type="text">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
             [(ngModel)]="user.bio"
             placeholder="BIO"
             name="bio">
      </textarea>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="user.author" name="author">
      I am an author
    </mat-slide-toggle>

    <div class="signup-btn">
      <button mat-button
              mat-raised-button
              color="primary"
              [disabled]="!signupForm.form.valid"
              type="submit">
        Sign Me Up
      </button>
    </div>
  </form>
</div>