<div class="example-container mat-elevation-z8">
    <mat-table *ngIf="books?.length"
               #table
               [dataSource]="books"
               matSort>
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.first_name}} {{row.last_name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Year</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.year}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Rate</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.rate}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
    </mat-table>
</div>