h1 {
  font-size: 1.5em;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form {
  max-width: 410px;
}

.login-btn {
  text-align: center;
}