<mat-toolbar color="primary">
    <button mat-button
            routerLink=""
            class="logo">
        Book Reviews
    </button>

    <span *ngIf="user">
        <button mat-button routerLink="books">Books</button>
        <button mat-button routerLink="authors">Authors</button>
        <button mat-button routerLink="users">Users</button>
    </span>

    <span class="fill-remaining-space"></span>

    <button *ngIf="user"
            mat-button
            [matMenuTriggerFor]="menu">
        {{user?.first_name}} {{user?.last_name}}
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['users', user?.id]">
            <mat-icon>account_box</mat-icon>
            <span>Profile</span>
        </button>

        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

    <span *ngIf="!user">
        <button mat-button routerLink="login">Login</button>
        <button mat-button routerLink="signup">Signup</button>
    </span>
</mat-toolbar>